[*.{js,jsx,mjs,cjs,ts,tsx,mts,cts,vue}]
charset = utf-8 # 设置文件字符集为 utf-8
indent_size = 2 # 缩进大小
indent_style = space # 缩进风格（tab | space）
insert_final_newline = true # 始终在文件末尾插入一个新行
trim_trailing_whitespace = true # 去除行首的任意空白字符
end_of_line = lf # 控制换行类型(lf | cr | crlf)
max_line_length = 100